.addressbox {
    background-image: url("../images/old-paper-small.png");
    background-attachment: scroll;
    border-radius: 10px;
    box-shadow: 6px 6px 4px 2px #888;
    color: #000000;
    text-align: center;
    font-family:  courier;
    font-size: 115%;
    padding: 12px;
}