.inhalt {
    margin-top: 80px;
}

.profilbild_image {
    border-radius: 1000px;
    margin-top: 20px;
}

.artikel-metadata {
    margin-top: 20px;
}
.artikelbild {
    margin-top: 20px;
    margin-bottom: 10px;
}
.bildunterschrift {
    margin-bottom: 20px;
}
.ersterartikel {
    margin-top: 80px;
}